{% capture listItems %}
                        {% for item in blogs['services'].articles %}
                        <div role="listitem" class="w-dyn-item">
              <a href="{{ item.url }}" class="link-filter">{{ item.title }}</a>
            </div>
                        {% endfor %}
                        {% endcapture %}
{% assign items_length = listItems | strip | size %}
    <div class="w-dyn-list" udy-collection="services">
          {%- unless items_length == 0 -%}<div role="list" class="list-filters w-dyn-items">
            {{ listItems }}
          </div>{%- endunless -%}
          {%- if items_length == 0 -%}<div class="w-dyn-empty">
            <div>No items found.</div>
          </div>{%- endif -%}
        </div>