<div class="section_home_features-list">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="home_features-list_component">
          <div class="margin-bottom margin-xxlarge">
            <div class="w-layout-grid home_features-list_content">
              <div class="home_features-list_content-left">
                <div class="margin-bottom margin-xsmall">
                  <div class="text-weight-semibold">Revitalize</div>
                </div>
                <h2>Discover the Power of Natural Skincare</h2>
              </div>
              <div class="home_features-list_content-right">
                <p class="text-size-medium">
                  Our vegan skincare products offer a range of benefits, including deep hydration, rejuvenation, and
                  powerful anti-aging properties. Experience the transformative effects of nature&#x27;s finest
                  ingredients.
                </p>
              </div>
            </div>
          </div>
          <div class="w-layout-grid home_features-list_list">
            <div class="home_features-list_item">
              <div class="margin-bottom margin-medium">
                <div class="home_features-list_image-wrapper">
                  <img
                    src="images/Placeholder-Image---Landscape.svg"
                    loading="lazy"
                    alt=""
                    class="home_features-list_image"
                  >
                </div>
              </div>
              <div class="margin-bottom margin-small">
                <h3 class="heading-style-h4">Hydration Boost</h3>
              </div>
              <p>Quench your skin&#x27;s thirst with our hydrating formulas.</p>
            </div>
            <div class="home_features-list_item">
              <div class="margin-bottom margin-medium">
                <div class="home_features-list_image-wrapper">
                  <img
                    src="images/Placeholder-Image---Landscape.svg"
                    loading="lazy"
                    alt=""
                    class="home_features-list_image"
                  >
                </div>
              </div>
              <div class="margin-bottom margin-small">
                <h3 class="heading-style-h4">Youthful Radiance</h3>
              </div>
              <p>Restore your skin&#x27;s natural glow and vitality.</p>
            </div>
            <div class="home_features-list_item">
              <div class="margin-bottom margin-medium">
                <div class="home_features-list_image-wrapper">
                  <img
                    src="images/Placeholder-Image---Landscape.svg"
                    loading="lazy"
                    alt=""
                    class="home_features-list_image"
                  >
                </div>
              </div>
              <div class="margin-bottom margin-small">
                <h3 class="heading-style-h4">Fight Aging Signs</h3>
              </div>
              <p>Combat fine lines, wrinkles, and dullness.</p>
            </div>
          </div>
          <div class="margin-top margin-xlarge">
            <div class="button-group">
              <a href="#" class="button is-secondary w-button">Shop</a>
              <a href="#" class="button is-link is-icon w-inline-block">
                <div>Learn More</div>
                <div class="icon-embed-xxsmall w-embed">
                  <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}