<section class="color-{{ section.settings.color_scheme }}">
  {{
    section.settings.image
    | image_url: width: 3840
    | image_tag:
      width: section.settings.image_2.width,
      height: image_height_2,
      class: image_class_2,
      sizes: sizes,
      widths: widths,
      fetchpriority: fetch_priority
  }}
</section>

{% schema %}
{
  "name": "TMM Image Banner V1",
"tag": "section",
"class": "section",
"disabled_on": {
  "groups": ["header", "footer"]
},
  "settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label": "t:sections.image-banner.settings.image.label"
  },
    {
    "type": "range",
    "id": "image_overlay_opacity",
    "min": 0,
    "max": 100,
    "step": 10,
    "unit": "%",
    "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
    "default": 0
  },
    {
    "type": "select",
    "id": "desktop_content_alignment",
    "options": [
      {
        "value": "left",
        "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
      },
      {
        "value": "center",
        "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
      },
      {
        "value": "right",
        "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
      }
    ],
    "default": "center",
    "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
  },
    {
        "type": "text",
        "id": "button_label_1",
        "default": "Button label",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
        "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
      },
      {
        "type": "checkbox",
        "id": "button_style_secondary_1",
        "default": false,
        "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
      },
    {
        "type": "text",
        "id": "button_label_2",
        "default": "Button label",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
        "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
      },
      {
        "type": "checkbox",
        "id": "button_style_secondary_2",
        "default": false,
        "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
      },
    {
        "type": "range",
        "id": "button_rounding",
        "min": 0,
        "max": 40,
        "step": 2,
        "unit": "px",
        "label": "Button rounding",
        "default": 0
      },
  ],
  "blocks": [
    {
    "type": "heading",
    "name": "t:sections.image-banner.blocks.heading.name",
    "limit": 1,
    "settings": [
      {
        "type": "header",
        "content": "Add multiple headings to create rotating effect."
      },
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Image banner",
        "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
      },
      {
        "type": "inline_richtext",
        "id": "heading_2",
        "label": "Heading two"
      },
      {
        "type": "inline_richtext",
        "id": "heading_3",
        "label": "Heading three"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "select",
        "id": "heading_tag",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          }
        ],
        "default": "h2",
        "label": "Heading element"
      },
      {
        "type": "range",
        "id": "rotation_delay",
        "min": 1,
        "max": 10,
        "step": 1,
        "unit": "s",
        "label": "Rotation delay (seconds)",
        "default": 3
      },
    ]}
  ],
  "presets": [
  {
    "name": "TMM Image Banner V1"
  }
]
}
{% endschema %}
