<div class="tmm-request-form2 tmm-gallery">
  <div class="tmm-interaction_wrap">
    <div class="tmm-padding-global">
      <div class="tmm-gallery-content">
        <div class="tmm-gallery-columns tmm-row">
          <div class="tmm-gallery-columns_left tmm-col tmm-col-6">
            <a
              href="#"
              class="tmm-gallery-lightbox tmm-inline-block tmm-lightbox"
            >
              <div class="tmm-gallery-image_wrap">
                {%- render 'TMM-placeholder', class: 'tmm-gallery-image' -%}
                <div class="tmm-gallery-image_overlay"></div>
              </div>
              <script
                type="application/json"
                class="tmm-json"
              >
                {
                	"items": [
                		{
                			"_id": "example_img",
                			"origFileName": "image-placeholder.svg",
                			"fileName": "image-placeholder.svg",
                			"fileSize": 2063,
                			"height": 150,
                			"url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                			"width": 150,
                			"type": "image"
                		}
                	],
                	"group": "Gallery"
                }
              </script>
            </a>
            <a
              href="#"
              class="tmm-gallery-lightbox tmm-inline-block tmm-lightbox"
            >
              <div class="tmm-gallery-image_wrap">
                {%- render 'TMM-placeholder', class: 'tmm-gallery-image' -%}
                <div class="tmm-gallery-image_overlay"></div>
              </div>
              <script
                type="application/json"
                class="tmm-json"
              >
                {
                	"items": [
                		{
                			"_id": "example_img",
                			"origFileName": "image-placeholder.svg",
                			"fileName": "image-placeholder.svg",
                			"fileSize": 2063,
                			"height": 150,
                			"url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                			"width": 150,
                			"type": "image"
                		}
                	],
                	"group": ""
                }
              </script>
            </a>
            <a
              href="#"
              class="tmm-gallery-lightbox tmm-inline-block tmm-lightbox"
            >
              <div class="tmm-gallery-image_wrap">
                {%- render 'TMM-placeholder', class: 'tmm-gallery-image' -%}
                <div class="tmm-gallery-image_overlay"></div>
              </div>
              <script
                type="application/json"
                class="tmm-json"
              >
                {
                	"items": [
                		{
                			"_id": "example_img",
                			"origFileName": "image-placeholder.svg",
                			"fileName": "image-placeholder.svg",
                			"fileSize": 2063,
                			"height": 150,
                			"url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                			"width": 150,
                			"type": "image"
                		}
                	],
                	"group": "Gallery"
                }
              </script>
            </a>
          </div>
          <div class="tmm-gallery-columns_right tmm-col tmm-col-6">
            <a
              href="#"
              class="tmm-gallery-lightbox tmm-inline-block tmm-lightbox"
            >
              <div class="tmm-gallery-image_wrap">
                {%- render 'TMM-placeholder', class: 'tmm-gallery-image' -%}
                <div class="tmm-gallery-image_overlay"></div>
              </div>
              <script
                type="application/json"
                class="tmm-json"
              >
                {
                	"items": [
                		{
                			"_id": "example_img",
                			"origFileName": "image-placeholder.svg",
                			"fileName": "image-placeholder.svg",
                			"fileSize": 2063,
                			"height": 150,
                			"url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                			"width": 150,
                			"type": "image"
                		}
                	],
                	"group": "Gallery"
                }
              </script>
            </a>
            <a
              href="#"
              class="tmm-gallery-lightbox tmm-inline-block tmm-lightbox"
            >
              <div class="tmm-gallery-image_wrap video-version">
                {%- render 'TMM-placeholder', class: 'tmm-gallery-image' -%}
                <div class="tmm-gallery-image_overlay"></div>
              </div>
              <script
                type="application/json"
                class="tmm-json"
              >
                {
                	"items": [
                		{
                			"_id": "example_img",
                			"origFileName": "image-placeholder.svg",
                			"fileName": "image-placeholder.svg",
                			"fileSize": 2063,
                			"height": 150,
                			"url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                			"width": 150,
                			"type": "image"
                		}
                	],
                	"group": "Gallery"
                }
              </script>
            </a>
            <a
              href="#"
              class="tmm-gallery-lightbox tmm-inline-block tmm-lightbox"
            >
              <div class="tmm-gallery-image_wrap">
                {%- render 'TMM-placeholder', class: 'tmm-gallery-image' -%}
                <div class="tmm-gallery-image_overlay"></div>
              </div>
              <script
                type="application/json"
                class="tmm-json"
              >
                {
                	"items": [
                		{
                			"_id": "example_img",
                			"origFileName": "image-placeholder.svg",
                			"fileName": "image-placeholder.svg",
                			"fileSize": 2063,
                			"height": 150,
                			"url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                			"width": 150,
                			"type": "image"
                		}
                	],
                	"group": "Gallery"
                }
              </script>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
