.tmm-layout-grid {
  grid-rotmm-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tmm-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.tmm-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.tmm-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.tmm-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.tmm-z-index-2 {
  z-index: 2;
  position: relative;
}

.tmm-max-width-full {
  width: 100%;
  max-width: none;
}

.tmm-layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.tmm-overflotmm-hidden {
  overflow: hidden;
}

.tmm-global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.tmm-z-index-1 {
  z-index: 1;
  position: relative;
}

.tmm-hide {
  display: none;
}

.tmm-text-style-link {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

.tmm-max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.tmm-max-width-medium {
  width: 100%;
  max-width: 35rem;
}

.tmm-max-width-xsmall {
  width: 100%;
  max-width: 25rem;
}

.tmm-max-width-xxsmall {
  width: 100%;
  max-width: 20rem;
}

.tmm-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.tmm-max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.tmm-align-center {
  margin-left: auto;
  margin-right: auto;
}

.tmm-spacing-clean {
  margin: 0;
  padding: 0;
}

.tmm-max-width-large {
  width: 100%;
  max-width: 48rem;
}

.tmm-max-width-small {
  width: 100%;
  max-width: 30rem;
}

.tmm-form-message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.tmm-padding-global {
  padding-left: 5%;
  padding-right: 5%;
}

.tmm-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.tmm-margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.tmm-margin-xsmall {
  margin: .75rem;
}

.tmm-text-weight-semibold {
  font-weight: 600;
}
