.tmm-image-banner__container {
  width: 100vw;
  height: 60rem;
}

.tmm-image-banner__container:after {
    content: "";
    position: absolute;
    top: 0;
    background: #000;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.tmm-image-banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}